.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5151F9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  background-color: #ccc;
}

.slider.round:before {
  background-color: #f1f1f1;
}

.setting-item label {
  margin-right: 10px;
  color: #3D475C;
}
.setting-item:nth-child(4) {
  margin-bottom: 10px; 
}
.setting-item:nth-child(5) {
  margin-right: 20px;
  margin-bottom: 20px; 
}